{% extends 'webpage/includes/base.html' %}
{% load static %}
{% block title %}Hjem{% endblock title %}
{% block content %}
<input type="hidden" value="hjem" id="active">
<div class="container mb-5 mt-3 w-50">
    <h1 style="text-align:center">Velkommen til min heldagsprøve</h1>
    <img style="display:block;margin:auto;" src="https://g.acdn.no/obscura/API/dynamic/r1/ece5/tr_1000_2000_s_f/0000/oppl/2020/6/13/18/09SPO_01-01-20200613_140803%25280%2529.jpg?chk=731431" alt="bilde av meg selv" />
</div>

{% endblock content %}
