{% load static %}
<nav class="navbar navbar-expand-lg smart-scroll sticky-top navbar-dark">
    <ul class="list-inline text-center">
        <li class="list-inline-item">
            <a class="nav-link" id="hjem" href="/">Hjem</a>
        </li>
        <li class="list-inline-item">
            <a class="nav-link" id="lonn" href="/lonn">Lønn</a>
        </li>
        <li class="list-inline-item">
            <a class="nav-link" id="bildeGjetting" href="/bildeGjetting">Bilde gjetting</a>
        </li>
        <li class="list-inline-item">
            <a class="nav-link" id="terningkast" href="/terningkast">Terningkast</a>
        </li>
    </ul>
</nav>
